/* SUMMARY
 1. GLOBAL
     Reset / Normalize
     VARIABLES
     FONTS
 2. GENERAL
 3. HEADER
     MENU
     SOCIAL
     LOGO
 4. MAIN
     SECTION
 5. ASIDE
 6. FOOTER
*/
/* 1. GLOBAL */
/* Reset / Normalize */
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background-color: var(--blackColor);
}
img {
  width: 100%;
}
a:link {
  text-decoration: none;
  color: var(--primaryColor);
}
a:visited {
  font-style: italic;
}
a:hover {
  text-decoration: underline;
}
a:active {
  background-color: var(--secondaryColor);
}
/* FONTS */
@font-face {
  font-family: "Anton";
  src: url(../fonts/Anton-Regular.ttf);
}
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Regular.ttf);
}
/* VARIABLES */
:root {
  --primaryColor: #e22413;
  --secondaryColor: #e2e2e1;
  --whiteColor: #ffffff;
  --lightGreyColor: #f3f3f3;
  --darkGreyColor: #353535;
  --blackColor: #090909;
  --lightTextColor: var(--secondaryColor);
  --darkTextColor: var(--darkGreyColor);
  --fontFamilyBase: "Raleway", Helvetica, Arial, sans-serif;
  --fontFamilyTitle: "Raleway", Helvetica, Arial, sans-serif;
  --fontFamilyAux: "Anton", Helvetica, Arial, sans-serif;
  --fontSizeSmall: 0.8rem;
  --fontSizeMedium: 1rem;
  --fontSizeLarge: 1.4rem;
  --fontSizeXlarge: 1.8rem;
  --fontSizeXxLarge: 2rem;
  --fontWeightRegular: 400;
  --fontWeightBold: 700;
  --lineHeightSmall: 1.2;
  --lineHeightBase: 1.5;
  --lineHeightBig: 1.8;
}
/* 2. GENERAL */
.hidden {
  display: none;
}
/* 3. HEADER */
/* MENU */
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  box-shadow: 0px 4px 4px 0px var(--darkGreyColor);
}
.nav {
  width: 50%;
}
.btn-nav {
  background: none;
  border: none;
  padding: 1rem;
}
.btn-nav .fas {
  color: var(--primaryColor);
  font-size: var(--fontSizeLarge);
}
.nav-links-mf {
  width: 50%;
  margin-left: 4rem;
  background-color: var(--secondaryColor);
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  position: absolute;
}
.nav-link {
  font-family: var(--fontFamilyBase);
  font-size: var(--fontSizeMedium);
  color: var(--blackColor);
  padding: 1rem;
}
.nav-link:hover {
  background-color: var(--whiteColor);
  color: var(--primaryColor);
}
/* SOCIAL */
.social-nav {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.social-nav .fab {
  font-size: var(--fontSizeLarge);
  padding: 1rem;
}
.social-link {
  color: var(--lightTextColor);
}
.social-link:hover {
  color: var(--primaryColor);
}
/* LOGO */
.logo {
  width: 16rem;
}
@media screen and (min-width: 768px) {
  /* 3. HEADER */
  /* MENU */
  .btn-nav {
    display: none;
  }
  .nav {
    width: 70%;
  }
  .nav-links {
    display: flex;
  }
  .nav-link {
    font-size: var(--fontSizeSmall);
    color: var(--lightTextColor);
  }
  .nav-link:hover {
    color: var(--primaryColor);
  }
  .pleca {
    border-left: 4px solid var(--primaryColor);
    border-right: 4px solid var(--primaryColor);
    padding: 0 0.5rem;
  }
  .social-nav {
    width: 30%;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1024px) {
  /* 3. HEADER */
  /* MENU */
  .nav-link {
    font-size: var(--fontSizeLarge);
  }
}
@media screen and (min-width: 1200px) {
}
/* 4. MAIN */
.main {
  background-color: var(--whiteColor);
  color: var(--darkTextColor);
}
.intro {
  width: 100%;
  margin: 0;
}
.section {
  padding: 1rem;
}
.section-title {
  font-family: var(--fontFamilyTitle);
  font-size: var(--fontSizeXlarge);
  font-weight: var(--fontWeightBold);
  line-height: var(--lineHeightBig);
  text-decoration: underline;
  text-decoration-color: var(--primaryColor);
  text-transform: capitalize;
  text-align: center;
}
.section-subtitle {
  font-family: var(--fontFamilyTitle);
  font-size: var(--fontSizeLarge);
  font-weight: var(--fontWeightBold);
  line-height: var(--lineHeightBase);
  text-transform: capitalize;
}
.section-text {
  font-family: var(--fontFamilyBase);
  font-size: var(--fontSizeMedium);
}
/* ABOUT US */
.about-us-image {
  width: 100%;
  margin: 0;
}
/* WHAT WE DO */
.what-we-do-image {
  width: 100%;
  margin: 0;
}
@media screen and (min-width: 768px) {
  /* 4. MAIN */
  .section-text {
    font-size: var(--fontSizeLarge);
  }
  /* ABOUT US */
  .about-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .about-us-image {
    width: 40%;
  }
  .about-us-text {
    width: 58%;
  }
  /* WHAT WE DO */
  .what-we-do {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .what-we-do-image {
    width: 40%;
  }
  .what-we-do-subtitle {}
  .what-we-do-text {
    width: 58%;
  }
}
/* 5. ASIDE */
.aside {
}
/* 6. FOOTER */
.footer {
  padding: 1rem;
  color: var(--lightTextColor);
  font-family: var(--fontFamilyBase);
  font-size: var(--fontSizeSmall);
  line-height: var(--lineHeightSmall);
  box-shadow: 0px -4px 4px 0px var(--darkGreyColor);
}
.footer-logo {
  width: 8rem;
  margin-left: 0;
}
.foot {
  display: flex;
  flex-direction: column;
}
.foot-links {
  display: flex;
  justify-content: space-around;
}
.foot-link {
  color: var(--lightTextColor);
}
.foot-link:hover {
  color: var(--primaryColor);
}
@media screen and (min-width: 768px) {
  /* FOOTER */
  .foot {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: baseline;
  }
  .foot-copyright {
    order: 0;
    align-self: flex-start;
    flex-grow: 1;
  }
  .foot-links {
    order: 1;
    align-self: flex-end;
    flex-grow: 1;
  }
}
/*
@media screen and (min-width: 768px) {}
@media screen and (min-width: 1024px) {}
@media screen and (min-width: 1200px) {}
*/
