@media screen and (min-width: 1200px) {

    /* HEADER */
    .primaryHeader figure {
        margin-top: 0.4rem;
        margin-left: 6rem;
    }

    .primaryHeader nav .menuB {
        justify-content: flex-end;
    }

    /* MAIN */
    .homeA {
        height: 37rem;
        padding-top: 12rem;
    }

    .homeB {
        width: 26rem;
        height: 22rem;
        font-size: 1.6rem;
        margin-left: 6rem;
    }

    /* FOOTER */

    .primaryFooter {
        flex-direction: row;
        justify-content: space-around;
    }

    /* WEBMASTER */
    .webmaster p {
        font-size: 12px;
    }
}