@media screen and (min-width: 480px) {
    .secondaryMain p {
        font-size: 1.1rem;
        letter-spacing: 1px;
        line-height: 1;
    }

    /* CONTAINERS */

    /* WHAT WE DO */
    .what-we-do figure {
        width: 90%;
    }

    .what-we-do p {
        font-size: 1.5rem;
    }

    /* DEVELOPING */
    .developing {
        padding: 4rem;
        font-size: 1.3rem;
    }

    /* WEBMASTER */
    .webmaster p {
        font-size: 10.5px;
    }
}