@media screen and (min-width: 1024px) {

    /* GENERAL */
    .title {
        font-size: 3rem;
    }

    /* HEADER */
    .primaryHeader figure {
        margin-left: 2rem;
    }

    .primaryHeader nav .menuB {
        font-size: 2rem;
    }

    .primaryHeader nav .menuB a {
        font-size: 1.2rem;
        padding: 0.6rem;
    }

    .primaryHeader nav .menuB img {
        width: 2rem;
    }

    .primaryHeader nav .menuB span {
        font-size: 1.2rem;
    }

    .primaryHeader nav .menuB span a {
        padding: 1rem 2rem;
    }

    /* MAIN */
    .homeA {
        height: 64rem;
        padding-top: 32rem;
    }

    .homeB {
        width: 26rem;
        height: 22rem;
        font-size: 1.6rem;
        margin-left: 2rem;
    }

    .homeC {
        width: 5rem;
        height: 5rem;
    }

    .secondaryMain section,
    .secondaryMain figure {
        width: 50%;
    }

    .secondaryMain section {
        float: left;
        padding-top: 4rem;
    }

    .secondaryMain figure {
        float: right;
    }

    .secondaryMain p {
        font-size: 1.2rem;
        letter-spacing: 1.2px;
        line-height: 1.2;
    }

    /* ABOUT US */
    /* WHAT WE DO */
    .what-we-do .flex-container figure {
        width: 75%;
    }

    .what-we-do p {
        font-size: 1.7rem;
        text-shadow: 4px 4px 8px #000, 8px 8px 8px #000;
    }

    /* LIFE */
    .life figure,
    .news figure {
        padding: 4rem;
    }

    /* NEWS */
    /* DEVELOPING */
    .developing {
        padding: 10rem;
        font-size: 1.5rem;
    }

    /* WEBMASTER */
    .webmaster p {
        font-size: 11.5px;
    }
}